#header-table {
	width: 100%;
	height: 40px;
	border-bottom: solid 2px #4D79FF;
	background-color: #000000;
}

#header-cell {
	padding-left: 10px;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF
}

#header-pgm-name {
	color: #4D79FF;
	font-size: 14px;
}